.brand{
    font-size: 22px;
    font-weight: bold;
}

header a{
    color: white;
    text-decoration: none;
    margin-right: 22px;
}

header a:hover{
    text-decoration: underline;
}

.nav-icons span{
    margin-right: 18px;
}

section{
    height: 420px;
}

footer{
    font-size: 18px;
}
h3{
    font-size: 21px;
}